In [24]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import itertools

In [25]:
tweet_df = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('#KeralaFloods OR #OpMadad since:2018-08-08 until:2018-08-19').get_items(),10000))

In [ ]:
tweet_df.columns

In [26]:
col_list = ['date', 'rawContent', 'user','lang','place','hashtags','likeCount','retweetCount']
tweet_df = tweet_df[col_list]

In [27]:
tweet_df.columns

Index(['date', 'rawContent', 'user', 'lang', 'place', 'hashtags', 'likeCount',
       'retweetCount'],
      dtype='object')

In [28]:
tweet_df.head()

,date,rawContent,user,lang,place,hashtags,likeCount,retweetCount
0,2018-08-18 23:59:50+00:00,@IndiaCoastGuard rescued a 10day old baby and ...,"{'username': 'Hari_offcl', 'id': 9023886736137...",en,None,[KeralaFloods],1,0
1,2018-08-18 23:59:40+00:00,Kindly exempt relief materials addressed to St...,"{'username': 'AswathyJayasree', 'id': 71070962...",en,None,[KeralaFloods],0,0
2,2018-08-18 23:59:33+00:00,IMPORTANT INFO: Life Jackets avaiable @ALUVA f...,"{'username': 'JayGooner_', 'id': 52633979, 'di...",en,None,"[Rescue, verified, KeralaFloods, KeralaFloodRe...",2,1
3,2018-08-18 23:59:33+00:00,@CBSNews #keralafloods #KeralaFloodRelief #Ker...,"{'username': 'arunima_vp', 'id': 8546095937748...",qme,None,"[keralafloods, KeralaFloodRelief, KeralaFlood,...",0,0
4,2018-08-18 23:59:32+00:00,#Trivandrum #Nedumangadu #CollectionCentre #Ke...,"{'username': 'prabhul_p', 'id': 162980006, 'di...",qht,None,"[Trivandrum, Nedumangadu, CollectionCentre, Ke...",0,0

In [29]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          10000 non-null  datetime64[ns, UTC]
 1   rawContent    10000 non-null  object
 2   user          10000 non-null  object
 3   lang          10000 non-null  object
 4   place         577 non-null    object
 5   hashtags      9998 non-null   object
 6   likeCount     10000 non-null  int64
 7   retweetCount  10000 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(2), object(5)
memory usage: 625.1+ KB

tweet_df.to_csv('data_csv.csv')

tweet_df.to_json('data_json.json')

In [55]:
tweet_df['place'].is_unique()

TypeError: unhashable type: 'dict'

In [32]:
excel_df = tweet_df
excel_df['date'] = excel_df['date'].dt.tz_localize(None)
excel_df.to_excel("data_excel.xlsx")

In [52]:
temp_df = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('#KeralaFloods OR #OpMadad lang:en since:2018-08-08 until:2018-08-19').get_items(),100))

In [85]:
temp_df = temp_df[col_list]

In [86]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          100 non-null    datetime64[ns, UTC]
 1   rawContent    100 non-null    object
 2   user          100 non-null    object
 3   lang          100 non-null    object
 4   place         2 non-null      object
 5   hashtags      100 non-null    object
 6   likeCount     100 non-null    int64
 7   retweetCount  100 non-null    int64
dtypes: datetime64[ns, UTC](1), int64(2), object(5)
memory usage: 6.4+ KB